argcomplete==3.4.0
asgiref==3.8.1
astroid==3.2.4
boto3==1.35.24
botocore==1.35.24
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
cryptography==42.0.8
dill==0.3.8
distlib==0.3.8
dj-database-url==2.2.0
dj-email-url==1.0.6
Django==5.0.7
django-cache-url==3.4.5
django-filter==24.3
django-storages==1.14.4
django-taggit==6.0.0
djangorestframework==3.15.2
environs==11.0.0
filelock==3.15.4
ggshield==1.31.0
gunicorn==23.0.0
idna==3.10
isort==5.13.2
jmespath==1.0.1
marshmallow==3.18.0
marshmallow-dataclass==8.5.14
mccabe==0.7.0
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
mysqlclient==2.2.4
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
pipx==1.6.0
platformdirs==3.0.0
pycparser==2.22
pygitguardian==1.16.0
Pygments==2.18.0
PyJWT==2.6.0
pylint==3.2.6
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
PyYAML==6.0.2
requests==2.32.3
rich==12.5.1
s3transfer==0.10.2
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
tomlkit==0.13.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
userpath==1.9.2
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
whitenoise==6.7.0
