<!-- templates/registration/login.html-->
{% extends 'blog/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-form"></div>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <div class="auth-links">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>
{% endblock %}