<!-- templates/blog/login.html-->
{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>Login</h2>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
{% endblock %}